html, body {
    max-width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.nav-item {
    margin: 10px;
}

.input-group {
    max-width: 80%;
    margin:auto;
}

.register-button-position{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 90vw;
    height:90vh;
    margin: 5vh auto;
    position:relative;
    padding-right: 2vw;
}

.side-form{
    background-color: white;
    z-index: 0;
    /* border: 2px solid black; */
}

/* .main-card img {
    object-fit: fill;
} */

.form-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-jumbotron{
    background-image: url('../../public/images/wallpaper_bromo.jpg');
    height: 80vh;
    width: 50vw;
    background-size: cover;

}

.form-container{
    width: 50%;
    margin: auto;
    /* border: 2px solid black; */
    padding: 3vw;
    border-radius: 2vw;
    margin-top: 3vh;
}

/* .form-container .row {
    position: relative;
}
.form-container .row::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    border-left: 3px solid #000;
    height: 150%;
} */

/* form {
    background-color: red;
    color: blue;
} */



/* ADMIN PANEL HOME*/
.container-count-all{
    display: flex;
    justify-content: center;
    width: 78vw;
    height: 20vh;
    margin: 0;
}

.container-count-antrian{
    font-size: 2vw;
    width: 15vw;
    height: 10vw;
    border: 2px solid black;
    margin: 1em;
    padding: 1vw;
    border-radius: 1em;
}

.link-sidebar{
    color: black;
}

.count-antrian-text{
    font-size: 1.5vw;
    text-align: center;
}

/* PAGINATION */
a.relative{
    text-decoration: none;
    color: black;
}

span.relative{
  display: none;
}

/* LOGIN REGISTER ADMIN */


@media screen and (max-width:475px){
    .side-image{
        display: none;
    }
}

@media screen and (max-width:900px){

    .card {
        width: 90vw;
        height:90vh;
        margin: 5vh auto;
        position:relative;
        padding-right: 1.5vh;
    }

}
